# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_LEFT_BBTRACKPAD_KEYPOINT
    def_bool $(shields_list_contains,left_bbtrackpad_keypoint)

menu "A320 Trackpad Setting"

config A320_LOG_LEVEL
	int "Log Level for Touch"
	default 4

endmenu


menu "A320 Advanced Settings"

config A320_START_IN_SCROLL_MODE
    bool "Start in scroll mode by default"
    default y
    help
      If yes (y), the default state is scroll mode, and holding the toggle key switches to mouse mode.
      If no (n), the default state is mouse mode, and holding the toggle key switches to scroll mode.

config A320_MOUSE_SENS_BASE_PERCENT
    int "Mouse sensitivity base (Percentage, 40 = 0.4)"
    default 40

config A320_MOUSE_SENS_STEP_PERCENT
    int "Mouse sensitivity step per LED brightness (Percentage, 1 = 0.01)"
    default 1

endmenu
